bin/
gen/
.gradle/
.idea/
build/
local.properties
import-summary.txt
Thumbs.db
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/libraries
/.app_is_ready
/messages.mo
/node_modules
/locale/**/*.po~
/package-lock.json
/plugins.local/*
/themes.local/*
/config.php
/feed-icons/*
/cache/*/*
/lock/*
/.vscode/settings.json
/vendor/**/.git
/vendor/*
/.phpunit.result.cache
